<!DOCTYPE html>
<html>
<head>
	<title>Too Many Subscriptions</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="vendor/css/material.min.css" rel="stylesheet" media="screen">
	<link href="vendor/css/mdl-selectfield.min.css" rel="stylesheet" media="screen">
	<link href="css/style.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<a href="popup.html" title="Home">
					<h1 class="mdl-layout-title">Too Many Subscriptions</h1>
				</a>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="popup.html">Feed</a>
					<a class="mdl-navigation__link is-active" href="collections.html">Collections</a>
					<a class="mdl-navigation__link collection-dedicated-tab" href="#">Open In Tab</a>
				</nav>
			</div>
		</header>
		<div class="mdl-layout__content">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--12-col mdl-cell--10-col-desktop mdl-cell--1-offset-desktop">
					<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
						<select class="mdl-selectfield__select" id="collection-select">
						</select>
						<label class="mdl-selectfield__label" for="collection-select">Collection</label>
					</div>
					<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored collection-create-button">
						<i class="material-icons">add</i>
					</button>
					<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored collection-delete-button">
						<i class="material-icons">delete</i>
					</button>
				</div>
			</div>
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--12-col mdl-cell--10-col-desktop mdl-cell--1-offset-desktop">
					<div id="collection-loading" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
					<div id="collection-list">
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/template" id="collection-form-item-template">
		<div class="mdl-grid collection-list-item" data-collection-id="<%= collection.id %>">
			<div class="mdl-cell mdl-cell--4-col">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" value="<%= collection.label %>">
					<label class="mdl-textfield__label" for="collection-form-channels">Label</label>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--4-col">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<textarea class="mdl-textfield__input collection-ids" data-collection-id="<%= collection.id %>" type="text" rows="3"><%= _.pluck(collection.channels, 'id').join("\n") %></textarea>
					<label class="mdl-textfield__label" for="collection-form-channels">Channel IDs (1 per line)</label>
				</div>
			</div>
		</div>
	</script>

	<script src="vendor/js/localforage.min.js"></script>
	<script src="vendor/js/underscore-min.js"></script>
	<script src="vendor/js/moment.min.js"></script>
	<script src="vendor/js/material.min.js"></script>
	<script src="vendor/js/mdl-selectfield.min.js"></script>
	<script src="js/http.js"></script>
	<script src="js/storage.js"></script>
	<script src="js/video.js"></script>
	<script src="js/channel.js"></script>
	<script src="js/collection.js"></script>
	<script src="js/app.js"></script>
</body>
</html>